:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --poison-green: #00ff88;
  
}
body {
  background: var(--poison-dark);
  color: white;
  font-family: "Poppins", sans-serif;
}
